* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.nav {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  flex: 1 1 auto;
}
.nav.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  position: relative;
}
.content {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
.paragraph.active {
  display: none;
}
#btn [name="close-outline"] {
  display: none;
}
#btn.active [name="close-outline"] {
  display: block;
}
#btn.active [name="menu-outline"] {
  display: none;
}
/* ============Home Work Selector */
/* ===1=== */
div {
  padding: 1rem 1rem;
}
/* ===2=== */
#container {
  background: rgb(11, 121, 9);
  background: linear-gradient(142deg, rgb(24, 230, 21) 0%, rgb(8, 116, 56) 85%);
  width: 48rem;
  border-radius: 5px;
  position: relative;
  padding: 8rem 2rem 3rem 2rem;
  box-shadow: 0 1rem 5rem 0.5rem rgba(0, 0, 0, 0.664);

  display: flex;
  justify-content: center;
}
/* ===3=== */
div + nav > ul li a::first-letter {
  color: #008000;
  font-size: 4rem;
  font-weight: bold;
}
p + a::first-letter {
  color: black;
  font-weight: 700;
}

/* ===4=== */

li > a[href*="https://www.google.com/?hl=ro"]
{
  letter-spacing: 1rem;
}

/* ===5=== */
#container div > p > a:hover,
#container > nav > ul li a:hover {
  color: #008000;
  transition: all 0.5s;
}

/* ===Other selectors=== */
#container div > p > a {
  color: #333;
  font-size: 4rem;
}
#container div > p {
  font-size: 2rem;
  color: #fff;
}

#container > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  text-transform: uppercase;
}
#container > nav > ul li a {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  background-color: rgb(24, 230, 21);
  display: block;
  padding: 1rem;
}
