* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  font-family: serif;
}

body {
  background-color: rgb(228, 228, 228);
}

/* Class selectors */
.container {
  position: relative;
  max-width: 72rem;
  margin: 5rem auto;
  padding: 3.2rem;
  background-color: rgb(236, 236, 236);
}
/* left side */
.list {
  list-style: none;
}
.list li:nth-child(2) {
  color: #0000ff;
}

.list li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.breeds {
  padding: 4.8rem 2rem;
  position: absolute;
  width: auto;
  left: 0;
  top: 0;
  height: 100%;
}
.img {
  border: 3px solid rgb(202, 201, 201);
  display: block;
  margin: 0 auto;
  width: 15rem;
  border-radius: 50%;
}
.vertical-line {
  width: 2px;
  background-color: #a1a1a1;
  height: 90%;
  position: absolute;
  left: 20rem;
}

/* right */
.breed-detail {
  margin-left: 20rem;
}

.heading-secondary {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

td:first-child {
  display: inline-block;
  font-weight: 700;
  margin-right: 2rem;
}

table tr {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 2rem;
}
